*vscode/*
*vs/*
backup/*
build/*
*.txt
*.bin
*.elf
*.cia
*.3ds
*.3dsx
*.firm
*.d
*.o
*.map
*.lst
*.elf
*.smdh
*.pyc
*.ips
*.zar
source/patch_symbols.hpp
source/oot3d/oot3d_world_graph_defs.hpp
.DS_Store
local_testing/*
!local_testing/CMakeLists.txt
